# transpiled files and dependencies
/node_modules
/public/vendors

# ignore all config except default
/config/env/*
!/config/env/default.json

# ignore local working documents
/doc
/draft

# ignore per-branch post-checkout .gitignore generator system kept here for local reference
# it worked but this postinstall command hed to be run : "cp bin/post-checkout .git/hooks"
# (ended up using environment variables on heroku instead of config/env/whatever.json)
/.gitignores
/bin

# application instance specific
.build
.data
.vendors

# junk files
package-lock.json
.DS_Store
Thumbs.db
