:root {
  --multislider-fade-duration: .5s;
  --survey-fg-color: white;
  --survey-bg-color: black;
  --survey-transition-duration: .5s;
  --flying-words-font-size: 1.5em;
}

* {
  user-select: none;
  outline: none;
}

@keyframes blink {
  0% { filter: invert(0%); }
  49% { filter: invert(0%); }
  50% { filter: invert(100%); }
  99% { filter: invert(100%); }
  100% { filter: invert(0%); }
}

/* this prevents pull to refresh on chrome : */
/* https://stackoverflow.com/questions/40011909/mobile-how-to-prevent-pull-to-refresh */
html {
  touch-action: pan-down;
}

html, body {
  overflow: hidden;
}

body.blink {
  animation-name: blink;
  animation-duration: .1s;
  animation-iteration-count: 5;
}

div#main-container {
  width: 100%;
  height: 100%;
}

div.page-wrapper {
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}

div.page-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.fill {
  width: 100%;
  height: 100%;
}

div.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*width: 100%;*/
  /*height: 100%;*/
}

div.flex-grow-shrink {
  flex: 1 1 auto;
}

div.flex-shrink-nogrow {
  flex: 0 1 auto;
}

div.flex-grow-noshrink {
  flex: 1 0 auto;
}

/* replicate title class properties from soundworks template helpers */
div.title {
  font-size: 3rem;
  line-height: 3.4rem;
  text-align: center;
  margin: 0px 0px 6px
}

div.subtitle {
  font-size: 2em;
  text-align: center;
}

div.flex {
  flex: 0 1 auto;
}

div.cropped {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.scrolly {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* * * * * * * * * * TOAST * * * * * * * * */

.toast {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
}

.toast.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility: .5s;
}

/* * * * * * * * * * SURVEY * * * * * * * * */

.survey-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.survey {
  --fg-color: var(--survey-fg-color);
  --bg-color: var(--survey-bg-color);
  --transition-duration: var(--survey-transition-duration);

  width: 100%;
  height: 100%;
  /*font-size: 1.2em;*/
  color: var(--fg-color);
  background-color: var(--bg-color);
  transition-property: color, background-color;
  transition-duration: var(--transition-duration);
  /*position: absolute;*/
  /*top: 100%;*/
}

/*
.survey > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
*/

.survey .item-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.survey .item {
  position: absolute;
  /*width: 100%;*/
  /*padding: 1em;*/
  /*padding-top: 0;*/
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.survey .item .question {
  padding: 0.5em 0;
}

.survey .item .answers {}

.survey .item .answers .answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em 0;
}

.survey .item .answers .answer label {
  /*font-size: 1.2em;*/
  padding: 0.4em;
  /*margin-left: 0.5em;*/
}

input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
}

div.input-radio-substitute {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: transparent;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--fg-color);
  transition: border-color var(--survey-transition-duration);
}

div.input-radio-substitute:after {
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;

  transition-property: top, right, bottom, left;
  transition-duration: .1s;

  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: var(--fg-color);
}

input[type="radio"]:checked + div.input-radio-substitute:after {
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  transition: background-color var(--survey-transition-duration);
}

/* * * * * * * * FLYING WORDS * * * * * * * */

div.flying-words {
  position: absolute;
  top:0; right:0; bottom:0; left:0;
  overflow: hidden;  
}

/*
trick found here :
https://stackoverflow.com/questions/1776915/center-an-element-with-absolute-position-and-undefined-width-in-css
*/

div.flying-word {
  position: absolute;
  top: 100%;
  text-align: center;
  font-size: var(--flying-words-font-size);  

  opacity: 1;
  visibility: visible;
}

div.flying-word > div {
  padding: 0.1em;
  pointer-events: auto;
  position: relative;
  left: -50%;
}

/* useless now, transition made with javascript */

/*
div.flying-word.selected {
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s;
}
*/

/* * * * * * * * * * PADS * * * * * * * * * */

div.pads-wrapper {
  position: relative;
}

div.pads-wrapper.beethoven {
  background: url('/images/beethoven.jpg');
  background-size: 100%;
}

div.pads svg {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  pointer-events: none;
}

div.pads svg path {
  fill: black;
  pointer-events: auto;
}

div.pads svg rect {
  /* this lets clicks go through and allows underlying text to be clicked */
  pointer-events: none;
  stroke-width: 0.2;
  stroke: black; /* this should always be the background color */
  fill: transparent;
  transition: fill 0.2s;
}

div.pads svg rect.enabled-stroke:not(.disabled) {
  stroke: white;
}

div.pads svg rect.enabled-fill:not(.disabled) {
  fill: black;
}

div.pads svg rect.active {
  fill: white !important;
  transition: fill 0.01s;
}

div.pads svg rect.disabled {
  /* this catches clicks and prevents underlying text to be clicked */
  pointer-events: auto;
}

div.pads svg rect.disabled.disabled-stroke {
  stroke: white;
}

div.pads svg rect.disabled.disabled-fill {
  fill: black;
}

div.pads svg text {
  fill: white;
  /*font-size: 1em;*/
}

/* this wrapper is needed for f*****g safari */
div.pad-words-wrapper {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* inspired from : https://codepen.io/Hlsg/pen/EXKJba */
div.pad-words {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2vw;
  grid-auto-rows: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
}

div.pad-words > div {
  position: relative;
}

div.pad-words > div > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/*div.pad-words > div > div {}*/

/* * * * * * * * * * SLIDERS * * * * * * * * * */

div.multislider-wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  pointer-events: none;
}

div.multislider {
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition:
    opacity var(--multislider-fade-duration),
    visibility var(--multislider-fade-duration);
}

div.multislider.hidden {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--multislider-fade-duration),
    visibility var(--multislider-fade-duration);
}

/*div.multislider div.slider {*/
div.multislider svg {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  /*flex: 1 1 auto;*/
}

/*div.multislider div.slider svg rect.bg {*/
div.multislider svg rect.bg {
  fill: #333;
  stroke: black;
  stroke-width: 0;
  z-index: 1;
}

div.multislider svg rect.bg.disabled {
  fill: rgba(60, 60, 60, 0.9);
}

div.multislider svg rect.fg {
/*div.multislider div.slider svg rect.fg {*/
  fill: #eee;
  stroke: black;
  stroke-width: 0;
  z-index: 2;
}

div.multislider svg rect.fg.disabled {
  fill: rgba(220, 220, 220, 0.5);
}

div.multislider svg rect.handle {
  fill: #fff;
  z-index: 3;
}

/* * * * * * * * TRANSITIONS * * * * * * * */

/* SLIDE */

.slide-enter-active {
  transition: transform .2s .2s;
}

.slide-leave-active {
  transition: transform .2s;
}

.slide-enter {
  transform: translateX(100%);
}

/*
don't use xxx-leave !!!
use xxx-leave-to instead (so that the transition runs until the end) !!!
*/
.slide-leave-to {
  transform: translateX(-100%);
}

/* FADE */

.fade-enter-active {
  transition: opacity .2s;
  /*transition: opacity .2s .2s;*/
}

.fade-leave-active {
  transition: opacity .2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
